/*
* Name: Bradley Elko
* Date: 8/23/2017
* Proj: Color Clicker
* Prog: CSS
*/
*{
    box-sizing: border-box;
}
body{
    margin:0px;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
#BGC1{
    position:absolute;
    top:0;
    left:0;
    height:100%;
    width:100%;
    overflow:auto;
}
#GC2
{
    position:absolute;
    top:0;
    left:0;
    height:100%;
    width:100%;
    overflow:auto; 
}
#EGC3{
    position:absolute;
    top:0;
    left:0;
    height:100%;
    width:100%;
    overflow:auto;   
}
#tl2{
    cursor:pointer;
}
#tp1{
    border-width:2px 2px 1px 2px;
    border-color:black;
    border-style:solid;
}
#tp2{
    border-width:2px 2px 1px 2px;
    border-color:black;
    border-style:solid; 
}
#tp3{
    border-width:2px 2px 1px 2px;
    border-color:black;
    border-style:solid; 
}
.topPanel{
    position:absolute;
    top:0px;
    left:0px;
    height:100px;
    width:100%;
}
.topLabel{
    position:absolute;
    top:0px;
    left:0px;
    height:100%;
    width:100%;
    text-align:center;
    font-family:Arial;
    font-size:36px;
    line-height:100px;
}
#mlone3{
    position:absolute;
    top:0%;
    left:0%;
    height:20%;
    width:100%;
    text-align:center;
    font-family:Arial;
    font-size:30px;
    line-height:3em;
}
#mltwo3{
    position:absolute;
    top:20%;
    left:0%;
    width:100%;
    height:20%;
    text-align:center;
    font-family:"Arial Narrow";
    font-size:24px;
    line-height:3.5em;
}
#mlthree3{
    position:absolute;
    top:40%;
    left:0%;
    width:100%;
    height:20%;
    text-align:center;
    font-family:"Arial Narrow";
    font-size:24px;
    line-height:3.5em;
}
#mlfour3{
    position:absolute;
    top:60%;
    left:0%;
    width:100%;
    height:20%;
    text-align:center;
    font-family:"Arial Narrow";
    font-size:24px;
    line-height:3.5em;
}
#mlfive3{
    position:absolute;
    top:80%;
    left:0%;
    width:100%;
    height:20%;
    text-align:center;
    font-family:"Arial Narrow";
    font-size:24px;
    line-height:3.5em;
}
#mp3{
    border-width:1px 2px 1px 2px;
    border-color:black;
    border-style:solid; 
}
.middlePanel{
    position:absolute;
    top:100px;
    left:0px;
    height:calc(100% - 200px);
    width:100%;
}
#ll1{
    position:absolute;
    top:0%;
    left:0%;
    height:20%;
    width:100%;
    font-family:Arial;
    font-size:30px;
    text-align:center;
    line-height:3em;
}
#lt1{
    position:absolute;
    top:20%;
    left:10%;
    width:80%;
    height:60%;
    resize:none;
    overflow-y:scroll;
    border:1px solid black;
    outline:none;
    font-family:"Arial Narrow";
    font-size:18px;
    text-align:left;
}
#lp1{
    border-width:1px 1px 1px 2px;
    border-color:black;
    border-style:solid;
}
#lp2{
    height:calc(100% - 100px);
    width:50%;
    border-width:1px 1px 2px 2px;
    border-color:black;
    border-style:solid; 
}
.leftPanel{
    position:absolute;
    top:100px;
    left:0px;
    height:calc(100% - 200px);
    width:50%;
}
#lcp2{
    position:absolute;
    height:80%;
    width:80%;
    top:10%;
    left:10%;
    border:1px solid black;
    background-color:black;
    cursor:pointer;
}
#rl1{
    position:absolute;
    display:table-cell;
    top:0%;
    left:0%;
    height:20%;
    width:100%;
    font-family:Arial;
    font-size:30px;
    text-align:center;
    line-height:3em;
}
#rt1{
    position:absolute;
    top:20%;
    left:10%;
    width:80%;
    height:60%;
    resize:none;
    overflow-y:scroll;
    border:1px solid black;
    outline:none;
    font-family:"Arial Narrow";
    font-size:18px;
    text-align:center;
}
#rp1{
    border-width:1px 2px 1px 1px;
    border-color:black;
    border-style:solid;
}
#rp2{
    border-width:1px 2px 2px 1px;
    border-color:black;
    border-style:solid;
    height:calc(100% - 100px);
    width:50%;
}
.rightPanel{
    position:absolute;
    top:100px;
    left:50%;
    height:calc(100% - 200px);
    width:50%;
}
#rl2{
    position:absolute;
    width:80%;
    height:80px;
    top:calc(50% - 40px);
    left:10%;
    border:1px solid black;
    line-height:80px;
    text-align:center;
    font-family:Arial;
    font-size:36px;
    cursor:pointer;
}
#bl1{
    cursor:pointer;
}
#bl3{
    cursor:pointer;
}
#bp1{
    border-width:1px 2px 2px 2px;
    border-color:black;
    border-style:solid;
}
#bp3{
    border-width:1px 2px 2px 2px;
    border-color:black;
    border-style:solid;
}
.bottomPanel{
    position:absolute;
    top:calc(100% - 100px);
    left:0px;
    height:100px;
    width:100%;
}
.bottomLabel{
    position:absolute;
    top:0px;
    left:0px;
    height:100%;
    width:100%;
    text-align:center;
    font-family:Arial;
    font-size:36px;
    line-height:100px;
}
#Link1{
    text-decoration:none;
}
#Link1:visited{
    color:inherit;
}
#Link3{
    text-decoration:none;
}
#Link3:visited{
    color:inherit;
}